<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>侨鑫教育平台</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/childrenlist.css}" href="../static/css/childrenlist.css">
    <script type="text/javascript" th:src="@{/javascript/jquery-3.2.1.min.js}" src="../static/javascript/jquery-3.2.1.min.js"></script>
</head>
<body style="background-color: #f8f6fa;">
<div class="pagewrap">
    <div id="header">
        <div id="imgbox">
            <img id="headimg" th:src="@{/images/logo2.png}" src="../static/images/logo2.png">
        </div>
        <input type="button" id="headbtn" value="返回" onclick="GoBack();" />
    </div>
    <div id="maindiv">
        <div id="infodiv">
            <div id="stuimgbox">
                <img id="stuimg" th:src="@{/images/parentimg.png}" src="../static/images/parentimg.png">
            </div>
            <div id="parentinfodiv">
                <span id="namespan" th:text="${parentInformation.getKg_name()}"></span>
                <div id="phonediv">
                    <img id="phoneimg" th:src="@{/images/phoneicon.png}" src="../static/images/phoneicon.png">
                    <span id="phonespan" th:text="${parentInformation.getKg_phonenumber()}"></span>
                </div>
            </div>
        </div>
        <div id="nodiv">
            <span>学生列表</span>
        </div>
        <div id="datadiv">
            <table>
                <thead>
                    <tr>
                        <th>学生姓名</th>
                        <th>学籍号</th>
                        <th>入学时间</th>
                        <th>性别</th>
                        <th>学校</th>
                        <th>班级</th>
                    </tr>
                </thead>
        　　　　 <tbody th:remove="all-but-first">
                    <tr th:each="childrenInfo:${childrenList}" data-id="${childrenInfo.getKg_studentprofileid()" onclick="GoStudentInfo(this)">
　　　　　　　　　　　　    <td th:text="${childrenInfo.getKg_fullname()}" width="15%"></td>
                        <td th:text="${childrenInfo.getKg_educationnumber()}" width="18%"></td>
                        <td th:text="${childrenInfo.getKg_jointime()}" width="18%"></td>
                        <td th:text="${childrenInfo.getKg_sex()}" width="15%"></td>
                        <td th:text="${childrenInfo.getKg_schoolname()}" width="18%"></td>
                        <td th:text="${childrenInfo.getKg_classname()}" width="15%"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script>
    function GoBack() {
        window.location.href = "/login/login";
    }

    function GoStudentInfo(obj) {
        var id = $(obj).attr("data-id");
        window.location.href = "/student/studentinfo?id=" + id + "&backpage=parent";
    }
</script>
</html>
