<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <title>侨鑫教育平台</title>
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" th:href="@{/css/alert.css}" href="../static/css/alert.css">-->
    <!--<link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">-->
    <!--<link rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css">-->
    <!--<script type="text/javascript" th:src="@{/javascript/jquery-3.2.1.min.js}" src="../static/javascript/jquery-3.2.1.min.js"></script>-->
    <!--<script type="text/javascript" th:src="@{/javascript/alert.min.js}" src="../static/javascript/alert.min.js"></script>-->
    <!--<script type="text/javascript" th:src="@{/javascript/login.js}" src="../static/javascript/login.js"></script>-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/alert.css}" href="css/alert.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="css/main.css">
    <link rel="stylesheet" th:href="@{/css/login.css}" href="css/login.css">
    <script type="text/javascript" th:src="@{/javascript/jquery-3.2.1.min.js}" src="javascript/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" th:src="@{/javascript/alert.min.js}" src="javascript/alert.min.js"></script>
    <script type="text/javascript" th:src="@{/javascript/login.js}" src="javascript/login.js"></script>
</head>
<body>
<div class="pagewrap">
    <!--<div class="container-login" th:style="'background:url(' + @{/images/loginbg.jpg} + ');'" style="background: url('images/loginbg.jpg')" >-->
    <div class="container-login" th:style="'background:url(' + @{/images/loginbg.jpg} + ');'" style="background: url('images/loginbg.jpg')" >
        <div class="wrap-login">
            <div class="login-form-logo">
                <!--<img th:src="@{/images/logo.png}">-->
                <img th:src="@{/images/logo.png}">
            </div>
            <span class="login-form-title">学生教育成长平台</span>
            <form id="loginform" class="login-form" name="loginform" accept-charset="utf-8" th:action="@{/login/loginVerify}" action="/login/loginVerify" method="post">
                <div class="wrap-input">
                    <input id="phonenumber" class="input" type="text" name="phonenumber" placeholder="请输入手机号码" autocomplete="off" maxlength="11" onchange="">
                </div>
                <div id="authcodeDiv">
                    <input id="authcode" type="text" name="authcode" placeholder="请输入验证码" maxlength="6">
                    <input type="button" id="codebtn" value="获取验证码" />
                </div>
                <div class="wrap-radio">
                    <div style="margin-left:100px;" class="wrap-radios">
                        <input type="radio" name="role" id="parentRadio" value="1" class="radio" checked />
                        <label for="parentRadio">家长</label>
                    </div>
                    <div style="text-align: left;" class="wrap-radios">
                        <input type="radio" name="role" id="teacherRadio" value="2" class="radio" />
                        <label for="teacherRadio">教师</label>
                    </div>
                </div>
                <div class="wrap-form-btn">
                    <input id="loginbtn" class="login-form-btn" type="button" value="登 录" style="width:387px;">
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>