<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>侨鑫教育学生成长平台</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/mobileChildrenlist.css}" href="../static/css/mobileChildrenlist.css">
    <link rel="stylesheet" th:href="@{/css/jazz-timeline.css}" href="../static/css/jazz-timeline.css">
    <script type="text/javascript" th:src="@{/javascript/jquery-3.2.1.min.js}" src="../static/javascript/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" th:src="@{/javascript/skrollr.min.js}" src="../static/javascript/skrollr.min.js"></script>
    <script type="text/javascript" th:src="@{/javascript/gotop.js}" src="../static/javascript/gotop.js"></script>
    <style>
        .seeBigImg{
            border:0.1rem solid #004a80;
            float:right;
            background: #004A80;
            color:#fff;
            font-size:0.8rem;
            border-radius: 0.8rem;
            text-decoration: none;
            outline:none;
        }

        a:focus{text-decoration: none}
    </style>
</head>
<body style="background:#fafbfc;font-family: Helvetica; ">
<input id="roleid" type="hidden" name="roleid" th:value="${roleid}">
<input id="classid" type="hidden" name="classid" th:value="${classid}">
<input id="schoolid" type="hidden" name="schoolid" th:value="${schoolid}">
<input id="role" type="hidden" name="role" th:value="${role}">
<div class="panel panel-info">
    <div class="panel-form">
        <div class="panel-heading">
            <div class="childrenpage-head">
                <div class="head-logo">
                    <img th:src="@{/images/mobilelogo.png}" src="../static/images/mobilelogo.png" class="icon">
                </div>
                <div class="head-title">
                    侨鑫教育
                </div>
                <div class="head-back">
                    <a href="javascript:void(0)" onclick="GoBack();">
                        <img th:src="@{/images/backLast.png}" src="../static/images/backLast.png" style="height: 1.5rem;margin-left: 2rem">
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="parent-info" style="height: 11rem">
                <div class="teacher-info-card">
                    <div class="profile-photo">
                        <img th:src="@{/images/kidsimg2.png}" src="../static/images/kidsimg2.png" id="parentimg">
                    </div>
                    <div class="parentname">
                        <ul>
                            <li><span id="namespan" th:text="${studentprofile.getKg_fullname()}"></span></li>
                            <li><span id="phonediv" th:text="${studentprofile.getKg_educationnumber()}"></span></li>
                        </ul>
                        <input id="gotoinfopage" class="gotoinfo" type="button" value="个人信息详情 >" th:attr="data-stuId=${studentprofile.getKg_studentprofileid()}" onclick="GoStuDetail(this);">
                    </div>
                    <div class="cert" >
                        <img th:src="@{/images/certicon.png}" src="../static/images/certicon.png" class="certimg">&nbsp;证书信息
                    </div>
                </div>
            </div>
            <div class="jazz-timeline-wrapper" th:if="${certCount > 0}">
                <div class="jazz-timeline white-timeline bordered-timeline one-sided" style="margin-top:-3rem">

                    <div class="timeline-post" th:each="cert:${json}">
                        <div class="timeline-icon icon-larger iconbg-turqoise icon-color-white">
                            <div class="icon-placeholder" th:text="${cert.DisplayCertInfo.CertIssueDate}"></div>
                        </div>
                        <div class="timeline-content">
                            <h2 class="content-title" th:text="${cert.DisplayCertInfo.CertName}"></h2>
                            <div class="content-details">
                                <p>入读学校：<span th:text="${cert.DisplayCertInfo.StuSchool}"></span></p>
                                <p>入读班级：<span th:text="${cert.DisplayCertInfo.StuClass}"></span></p>
                                <p>证书类别：<span th:text="${cert.DisplayCertInfo.CertType}"></span></p>
                                <p>老师：<span th:text="${cert.DisplayCertInfo.StuTeacher}"></span></p>
                            </div>
                            <div class="content-details" style="height:1.4rem;margin-top:0.2rem">
                                <a href="#" class="seeBigImg" th:attr="data-certId=${cert.DisplayCertInfo.CertPdfPath}" onclick="GoCertDetail(this)">查看证书大图</a>
                            </div>
                        </div><!-- timeline content -->
                    </div><!-- .timeline-post -->
                    <a href="#" class="cd-top">Top</a>
                    <div class="timeline-post" style="margin-top:-30px;">
                        <div class="timeline-icon icon-larger iconbg-turqoise icon-color-white">
                            <div class="icon-placeholder">已到最底部</div>
                        </div>
                    </div><!-- .timeline-post -->
                </div><!-- .timeline -->
            </div><!-- .jazz-timeline-wrapper -->
        </div>
    </div>
</div>
</body>
<script>
    function GoStuDetail(obj){
        var stuId = $(obj).attr("data-stuId");
        window.location.href = "../student/mstudentinfo?stuId=" + stuId;
    }
    function GoCertDetail(obj) {
        var fileId = $(obj).attr("data-certId");
        window.location.href = "../electronicscertificate/studentcertificate?fileId=" + fileId + "&device=mobile";
    }

    function GoBack() {
        var roleid = $("#roleid").val();
        var role = $("#role").val();
        var classid = $("#classid").val();
        var schoolid = $("#schoolid").val();
        if (role == 0){
            window.location.href = "../login/login";
        }else{
            window.location.href = "../login/BackListPage?roleid=" + roleid + "&role=" + role + "&classid=" + classid + "&schoolid=" + schoolid;
        }
    }
</script>
</html>

