<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>侨鑫教育平台</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/mobileStudentCert.css}" href="../static/css/mobileStudentCert.css">
    <link rel="stylesheet" th:href="@{/css/jquery.mloading.css}" href="../static/css/jquery.mloading.css">
    <script type="text/javascript" th:src="@{/javascript/jquery-3.2.1.min.js}" src="../static/javascript/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery.mloading.js}" src="../static/javascript/jquery.mloading.js"></script>
</head>

<body style="background:#fafbfc;font-family: Helvetica; ">
<div class="panel panel-info">
    <div class="panel-form">
        <div class="panel-heading">
            <div class="childrenpage-head">
                <div class="head-logo">
                    <img th:src="@{/images/mobilelogo.png}" src="../static/images/mobilelogo.png" class="icon">
                </div>
                <div class="head-title">
                    侨鑫教育
                </div>
                <div class="head-back">
                    <a href="javascript:void(0)" onclick="GoBack();">
                        <img th:src="@{/images/backLast.png}" src="../static/images/backLast.png" style="height: 1.5rem;margin-left: 2rem">
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="cert">
                <img th:src="@{/electronicscertificate/certificate/show?fileid={certificateid}(certificateid=${certificateid})}" class="certimg">
            </div>
            <div class="wrap-form-btn">
                <input id="downloadBtn" type="button" class="login-form-btn" value="电子证书（PDF）下载" th:attr="data-certId=${certificateid}" onclick="DownCertPDF(this)">
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function(){
        $("body").mLoading("show");
    });

    window.onload = function(){
        $("body").mLoading("hide");
    }

    function GoBack() {
        window.location.href = "../login/login";
    }

    function DownCertPDF(obj) {
        var certId = $(obj).attr("data-certId");
        window.location.href = "../electronicscertificate/certificate/download?fileid=" + certId;
    }
</script>
</html>

