<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>侨鑫教育平台</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/mobileStudentlist.css}" href="../static/css/mobileStudentlist.css">
    <link rel="stylesheet" th:href="@{/css/pickout.css}" href="../static/css/pickout.css">
    <script type="text/javascript" th:src="@{/javascript/jquery-3.2.1.min.js}" src="../static/javascript/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" th:src="@{/javascript/bootstrap.min.js}" src="javascript/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/javascript/pickoutStudentList.js}" src="../static/javascript/pickout.js"></script>
    <script type="text/javascript" th:src="@{/javascript/gotop.js}" src="../static/javascript/gotop.js"></script>
</head>
<body style="background:#fafbfc;font-family: Helvetica;">
<input type="hidden" id="phone" name="phone" th:value="${teacherInformation.getKg_phonenumber()}">
<input type="hidden" id="teacherid" name="teacherid" th:value="${teacherInformation.getKg_teacherinformationid()}">
<div class="panel panel-info">
    <div class="panel-form">
        <div class="panel-heading">
            <div class="childrenpage-head">
                <div class="head-logo">
                    <img th:src="@{/images/mobilelogo.png}" src="../static/images/mobilelogo.png" class="icon">
                </div>
                <div class="head-title">
                    侨鑫教育
                </div>
                <div class="head-back">
                    <a href="javascript:void(0)" onclick="javascript:history.go(-1);return false;">
                        <img th:src="@{/images/backLast.png}" src="../static/images/backLast.png" style="height: 1.5rem;margin-left: 2rem">
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="parent-info">
                <div class="teacher-info-card">
                    <div class="profile-photo">
                        <img th:src="@{/images/parentimg2.png}" src="../static/images/parentimg2.png" id="parentimg">
                    </div>
                    <div class="parentname">
                        <ul>
                            <li><span id="namespan" th:text="${teacherInformation.getKg_name()}"></span></li>
                            <li><span id="phonediv" th:text="${teacherInformation.getKg_phonenumber()}"></span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="pk-form-year">
                <select name="option" id="option" class="option pickout" placeholder="学校筛选" onchange="selectSchool()">
                    <option th:each="schoolInfo:${schoolInfoList}"
							th:value="${schoolInfo.kg_schoolid}"
							th:text="${schoolInfo.kg_name}"></option>
                </select>
            </div>

            <div class="pk-form-class">
                <select name="option1" id="option1" class="option pickout" placeholder="班级筛选" onchange="initTable()">
                   <option th:each="classInfo:${classList}"
							th:value="${classInfo.kg_classid}" th:text="${classInfo.kg_name}"></option>
                </select>
            </div>

            <ul class="list-group">
                <li class="list-group-item" th:each="studentInfo:${studentList}" th:attr="data-id=${studentInfo.getKg_studentprofileid()}" onclick="GoStudentInfo(this)">
                    <div class="childimg">
                        <img th:src="@{/images/kidsimg2.png}" src="../static/images/kidsimg2.png" class="stuimg">
                    </div>
                    <div class="childinfo">
                        <ul>
                            <li><span class="childinfo-name" th:text="${studentInfo.getKg_fullname()}"></span>&nbsp;&nbsp;<span class="childinfo-gender" th:text="${studentInfo.getKg_sex()}"></span></li>
                            <li class="childinfo-class-time">班级：&nbsp;<span class="childinfo-class-time" th:text="${studentInfo.getKg_classname()}"></span></li>
                            <li class="childinfo-class-time">入学：&nbsp;<span class="childinfo-class-time" th:text="${studentInfo.getKg_jointime()}"></span></li>
                            <li class="parent-name-tel">家长：&nbsp;<span class="parent-name-tel" th:text="${studentInfo.getKg_parentName()}"></span><span th:text="${studentInfo.getKg_parentPhoneNumber()}"></span></li>
                        </ul>
                    </div>
                    <div class="other-info">
                        <div class="stunumber">
                            <span>学籍号&nbsp;:&nbsp;</span><span th:text="${studentInfo.getKg_educationnumber()}"></span>
                        </div>
                    </div>
                </li>
                <a href="#" class="cd-top">Top</a>
            </ul>
        </div>
    </div>
</div>
</body>
<script>
    pickout.to('#option');

    pickout.to('#option1');

    function GoStudentInfo(obj) {
        var id = $(obj).attr("data-id");
        var roleid = $("#teacherid").val();
        window.location.href = "../student/studentinfo?id=" + id + "&roleid=" + roleid + "&role=2&device=mobile";
    }
</script>
</html>

