<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>侨鑫教育平台</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="css/main.css">
    <link rel="stylesheet" th:href="@{/css/studentcert.css}" href="css/studentcert.css">
    <script type="text/javascript" th:src="@{/javascript/jquery-3.2.1.min.js}" src="javascript/jquery-3.2.1.min.js"></script>
</head>
<body style="background-color: #f8f6fa;">
    <div class="pagewrap">
        <div id="header">
            <div id="imgbox">
                <img id="headimg" th:src="@{/images/logo2.png}" src="images/logo2.png">
            </div>
            <input type="button" id="headbtn" value="返回" />
        </div>
        <div id="maindiv">
            <div id="certdiv">
                <img th:src="@{/electronicscertificate/certificate/show?fileid={certificateid}(certificateid=${certificateid})}">
            </div>
            <div id="downloaddiv">
                <input id="downloadbtn" class="button" type="button" value="下载电子证书 PDF" th:attr="data-certId=${certificateid}" onclick="DownCertPDF(this)">
            </div>
        </div>
    </div>
</body>
<script>
    function DownCertPDF(obj) {
        var certId = $(obj).attr("data-certId");
        window.location.href = "../electronicscertificate/certificate/download?fileid=" + certId;
    }
</script>
</html>