<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>侨鑫教育平台</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/studentinfo.css}" href="../static/css/studentinfo.css">
    <script type="text/javascript" th:src="@{/javascript/jquery-3.2.1.min.js}" src="../static/javascript/jquery-3.2.1.min.js"></script>
</head>
<body style="background-color: #f8f6fa;">
<div class="pagewrap">
    <div id="header">
        <div id="imgbox">
            <img id="headimg" th:src="@{/images/logo2.png}" src="../static/images/logo2.png">
        </div>
        <input type="button" id="headbtn" value="返回" onclick="javascript:history.go(-1);" />
    </div>
    <div id="maindiv">
        <div id="infodiv">
            <div id="stuimgbox">
                <img id="stuimg" th:src="@{/images/stuimg.png}">
            </div>
            <div class="container">
                <div class="columndiv">
                    <ul>
                        <li><span class="columnspan">档案编号</span><span class="showspan" th:text="${studentprofile.getKg_name()}"></span></li>
                        <li><span class="columnspan">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span><span class="showspan" th:text="${studentprofile.getKg_fullname()}"></span></li>
                        <li><span class="columnspan">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</span><span class="showspan" th:text="${studentprofile.getKg_sex()}"></span></li>
                    </ul>
                </div>
                <div style="width:4%;height:90%;float:left;"></div>
                <div class="columndiv2">
                    <ul>
                        <li><span class="columnspan">出生日期</span><span class="showspan" th:text="${studentprofile.getKg_birthday()}"></span></li>
                        <li><span class="columnspan">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄</span><span class="showspan" th:text="${studentprofile.getKg_age()} + ' 岁'"></span></li>
                        <li><span class="columnspan">户口所在地</span><span class="showspan" th:text="${studentprofile.getKg_registeredresidence()}"></span></li>

                    </ul>
                </div>
                <div style="width:3%;height:90%;float:left;"></div>
                <div class="columndiv3">
                    <ul>
                        <li><span class="columnspan">护照/身份证号</span><span class="showspan" th:text="${studentprofile.getKg_passportnumberoridnumber()}"></span></li>
                        <li><span class="columnspan">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</span><span class="showspan" th:text="${studentprofile.getKg_studentnumber()}"></span></li>
                        <li><span class="columnspan">学&nbsp;&nbsp;&nbsp;籍&nbsp;&nbsp;&nbsp;号</span><span class="showspan" th:text="${studentprofile.getKg_educationnumber()}"></span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-11" style="margin-top: 1%;">
            <div class="card col" style="border: 0px;">
                <div class="certinfo_title">成长信息</div>
                <hr id="colhr">
                <div class="certinfo" th:each="cert,index:${json}">
                    <div class="" th:class="${index.first}? 'timelinefirst row' : (${index.last}? 'timelinelast row' : 'timeline row' )">
                    <div  class="col-12 innerdiv" th:if="${cert.DisplayCertInfo}">
                        <div class="row timelinelastline float-left" th:if="${index.last}"></div>
                        <div class="float-left certicon"></div>
                        <div class="col-2 float-left certdate" th:text="${cert.DisplayCertInfo.CertIssueDate}"></div>
                        <div class="col-3 float-left">
                            <div class="row">
                                <div class="col-12"><div class="col-4 float-left">证书名称</div><div class="col-8 certtext" th:text="${cert.DisplayCertInfo.CertName}"></div></div>
                                <div class="col-12"><div class="col-4 float-left">办发机构</div><div class="col-8 certtext" th:text="${cert.DisplayCertInfo.CertIssuer}"></div></div>
                            </div>
                        </div>
                        <div class="col-3 float-left">
                            <div class="row">
                                <div class="col-12"><div class="col-4 float-left">证件类别</div><div class="col-8 certtext" th:text="${cert.DisplayCertInfo.CertType}"></div></div>
                                <div class="col-12"><div class="col-4 float-left">颁证日期</div><div class="col-8 certtext" th:text="${cert.DisplayCertInfo.CertIssueDate}"></div></div>
                            </div>
                        </div>
                        <div class="col-2 float-left">
                            <div class="row"><div class="col-12"><div class="col-4 float-left">标签</div><div class="col-8 certtext" th:text="${cert.DisplayCertInfo.Remark}"></div></div></div>
                        </div>
                        <div class="col-1 float-left"><div class="row"><div class="row" th:attr="data-certId=${cert.DisplayCertInfo.CertPdfPath}" onclick="GoCertDetail(this)">
                            <a  class="row text-center" href="#">
                                <div class="col-12">
                                    <img class ="search-img" th:src="@{/images/detail.png}" src="../static/images/detail.png">
                                </div>
                                <div class="text-center">点击查看证书大图</div>
                            </a>
                            </div></div>
                        </div>
                    </div>
                        <div  class="col-12 innerdiv" th:if="${cert.DisplayEventInfo}">
                            <div class="row timelinelastline float-left" th:if="${index.last}"></div>
                            <div class="float-left certicon"></div>
                            <div class="col-2 float-left certdate" th:text="${cert.DisplayEventInfo.EventDate}"></div>
                            <div class="col-3 float-left">
                                <div class="row">
                                    <div class="col-12"><div class="col-4 float-left">事件内容</div><div class="col-8 certtext" th:text="${cert.DisplayEventInfo.EventContent}"></div></div>
                                </div>
                            </div>
                            <div class="col-3 float-left">
                                <div class="row">
                                    <div class="col-12"><div class="col-4 float-left">事件机构</div><div class="col-8 certtext" th:text="${cert.DisplayEventInfo.EventOrg}"></div></div>
                                    <div class="col-12"><div class="col-4 float-left">事件日期</div><div class="col-8 certtext" th:text="${cert.DisplayEventInfo.EventDate}"></div></div>
                                </div>
                            </div>
                            <div class="col-2 float-left">
                                <div class="row"><div class="col-12"><div class="col-4 float-left">标签</div><div class="col-8 certtext" th:text="${cert.DisplayEventInfo.Remark}"></div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function GoCertDetail(obj) {
        var fileId = $(obj).attr("data-certId");
        window.location.href = "/electronicscertificate/studentcertificate?fileId=" + fileId;
    }
</script>
</html>