/*//////////////////////////////////////////////////////////////////
[ login ]*/
.pagewrap {
    width: 100%;
    margin: 0 auto;
}

.container-login {
    width: 100vw;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrap-login {
    width: 579px;
    height: 548px;
    background: #fff;
    overflow: hidden;
    filter:alpha(Opacity=80);
    -moz-opacity:0.8;
    opacity:0.8;
}

/*------------------------------------------------------------------
[ Form ]*/

.login-form {
    width: 100%;
}

.login-form-logo{
    width: 100%;
    height: 122px;
    margin-top: 47px ;
    display: block;
    text-align: center;
}

.login-form-title {
    display: block;
    font-size: 35px;
    color: #004a80;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input input{
    width: 387px;
    height: 50px;
    font-size:18px;
    line-height: 50px;
    margin:0px 96px 15px;
    padding-left: 25px;
    border: 1px solid #004a80;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
}

#authcodeDiv{
    width: 387px;
    height: 50px;
    line-height: 50px;
    float:left;
    margin:0px 96px 12px;
    font-size:18px;
}

#authcode{
    width: 60%;
    height: 100%;
    font-size:18px;
    line-height: 50px;
    padding-left: 25px;
    border-left: 1px solid #004a80;
    border-top: 1px solid #004a80;
    border-bottom: 1px solid #004a80;
    border-right: 0px;
    border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -o-border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -o-border-bottom-left-radius: 10px;

    border-bottom-right-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -o-border-bottom-right-radius: 0px;

    border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -o-border-top-right-radius: 0px;
    float: left;
}

#codebtn{
    width: 40%;
    height: 100%;
    line-height: 50px;
    color:#cd8221;
    background-color: #fff;
    font-size: 18px;
    border-right: 1px solid #004a80;
    border-top: 1px solid #004a80;
    border-bottom: 1px solid #004a80;
    border-left: 1px solid #a1a6bb;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -o-border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -o-border-bottom-left-radius: 10px;
    float: left;
    position: relative;
}

.wrap-radio{
    width:100%;
    height:50px;
}

.wrap-radios{
    width:40%;
    height:100%;
    text-align:center;
    vertical-align:middle;
    float:left;
}

.wrap-radios .radio{
    vertical-align: middle;
    width:30px;
    height: 50px;
    line-height: 50px;
}
.wrap-radios label{
    margin-left:0%;
    color:#2c3444;
    font-size: 18px;
    display: inline-block;
}

/*------------------------------------------------------------------
[ Button ]*/
.wrap-form-btn {
    width: 100%;
    height:50px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.login-form-btn {
    height:50px;
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    background: #004a80;
    margin-top: 10px;
    border: 1px solid #004a80;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
}

/*------------------------------------------------------------------
[error message]*/
.mobile-err{
    width: 400px;
    height: 130px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 200px;
    left: -50px;
    z-index: 0;
    border-radius: 90px;
    text-align: center;
    line-height: 130px;
    font-size: 50px;
    color:white;
    filter: alpha(opacity:0);
    opacity: 0;

}
.vcode-err{
    width: 400px;
    height: 130px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 200px;
    left: -50px;
    z-index: 0;
    border-radius: 90px;
    text-align: center;
    line-height: 130px;
    font-size: 50px;
    color:white;
    filter: alpha(opacity:0);
    opacity: 0;

}

/*------------------------------------------------------------------
[ Responsive ]*/
@media (max-width: 576px) {
    .wrap-login {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*-------loading-----------------------*/
.overlay{position:fixed;top:0;right:0;bottom:0;left:0;z-index:998;width:100%;height:100%;padding:0 20px 0 0;background:#f6f4f5;display:none;}
.showbox{position:fixed;top:0;left:50%;z-index:9999;opacity:0;filter:alpha(opacity=0);margin-left:-80px;}
*html .showbox,*html .overlay{position:absolute;top:300px;}
#AjaxLoading{border:1px solid #8CBEDA;color:#37a;font-size:12px;font-weight:bold;}
#AjaxLoading div.loadingWord{width:180px;height:50px;line-height:50px;border:2px solid #D6E7F2;background:#fff;}
#AjaxLoading img{margin:10px 15px;float:left;display:inline;}
