/*//////////////////////////////////////////////////////////////////
[ studentslist ]*/
.pagewrap {
    width: 100%;
    height:100%;
    margin: 0 auto;
    min-width: 1034px;
}

#header{
    width:100%;
    height:5%;
    background-color: #004a80;
    display: table;
}

#imgbox{
    display: table-cell;vertical-align: middle;margin-left:5.9%;
}

#headimg{
    margin-left:9%;
}

#headbtn{
    height:100%;
    width: 80px;
    font-size: 18px;
    color: #fff;
    line-height: 55px;
    background-color: #004a80;
    border: 0px;
    float:right;
    margin-right: 15%;
}

#maindiv{
    width: 100%;
    height: 92%;
}

#infodiv{
    width: 89%;
    height: 10%;
    background-color: #fff;
    display: table;
    margin-top:20px;
    margin-left:5.5%
}

#stuimgbox{
    width: 8%;
    display: table-cell;
    vertical-align: middle;
    margin-left:30%;
}

#stuimg{
    margin-left:30%;
    width:60px;
    height:60px;
}

#parentinfodiv{
    width: 80%;
    display: table-cell;
    vertical-align: middle;
}

#namespan{
    width:6%;
    height:100px;
    line-height: 100px;
    font-size: 18px;
    color: #004a80;
    float:left;
    text-align: left;
}

#phonediv{
    width: 84%;
    height:100px;
    line-height: 100px;
    font-size: 18px;
    color: #004a80;
    float:left;
    text-align: left;
}

#phonediv img {
    margin-bottom:5px;
}

#nodiv{
    width: 89%;
    height: 70px;
    margin-left:5.5%
}

#nodiv span{
    height:70px;
    font-weight: bold;
    line-height: 70px;
    text-align: left;
    margin-left:20px;
    color:#004a80;
    font-size: 18px;
    float:left;
}

.classdiv{
    width: 260px;
    height:40px;
    float:left;
    margin-left:40px;
    margin-top:15px;
    position: relative;
}

.classdiv select{
    outline: none;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #004a80;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
}

.classdiv:after{
    content: "";
    width: 20px;
    height: 20px;
    background: url(../images/selecticon.png) no-repeat center;
    position: absolute;
    pointer-events: none;
    right: 22px;
    top: 25%;
}

#printdiv{
    width: 180px;
    height:40px;
    float:left;
    margin-left:40px;
    margin-top:15px;
}

#printbtn{
    display: inline-block;
    width: 170px;
    color: #004a80;
    background: #fff;
    text-align:center;
    line-height:37px;
    border: 1px solid #004a80;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
}


#datadiv{
    width: 89%;
    background-color: #fff;
    margin-left:5.5%
}

#datadiv table{
    width:100%;
    text-align: center;
    margin-top:-20px;
}

#datadiv table th{
    text-align: center;
    color: #cd8221;
    font-size: 15px;
    height:50px;
    line-height:50px;
    border-bottom: 2px solid #cd8221;
}

#datadiv table td{
    color: #566075;
    font-size: 15px;
    height:50px;
    line-height:50px;
    cursor:pointer;
}

#pages{
    position: relative;
    bottom: 55px;
    width:100%;
    margin-top: 80px;
    cursor: pointer;
}

#certIframe{
    display:none;
}

#loadingModal{
    margin-top:10%;
    z-index: 10003;
}

.mvTxt{
    height:50px;
    line-height:50px;
    width:531px;
    text-align:center;
    font-size:22px;
    color:darkred;
    margin:0 auto;
    z-index: 10001;
}
.mvBox{
    height:15px;
    background:#F5FAFD url(../images/loading/loading2.jpg) no-repeat left center;
    width:480px;
    position:relative;
    padding:0 30px;
    margin:0 auto;
    z-index: 10001;
}
.mvBtn{
    position:absolute;
    left:50px;
    top:0;
}