/*//////////////////////////////////////////////////////////////////
[ studentinfo ]*/
.pagewrap {
    width: 100%;
    height:100%;
    margin: 0 auto;
}

#header{
    width:100%;
    height:5%;
    background-color: #004a80;
    display: table;
}

#imgbox{
    display: table-cell;vertical-align: middle;margin-left:5.9%;
}

#headimg{
    margin-left:8%;
}

#headbtn{
    height:100%;
    width: 80px;
    font-size: 18px;
    color: #fff;
    line-height: 55px;
    background-color: #004a80;
    border: 0px;
    float:right;
    margin-right: 14%;
}

#maindiv{
    width: 100%;
    height: 92%;
}

#infodiv{
    width: 89%;
    height: 20%;
    background-color: #fff;
    display: table;
    margin-top:20px;
}

#stuimgbox{
    width: 16%;
    display: table-cell;
    vertical-align: middle;
    margin-left:30%;
}

#stuimg{
    margin-left:30%;
}

.container{
    width: 80%;
    display: table-cell;
    vertical-align: middle;
}
.columndiv{
    width:33%;height:90%;float:left;text-align: left;border-right: 1px solid #cad3e7;
}
.columndiv2{
    width:33%;height:90%;float:left;text-align: left;
}
.container ul{
    width: 100%;height:100%;line-height:100%;overflow: hidden;margin-top:-10px;
}
.columnli{
    font-size: 15px;
    margin-top:15px;
    color:#a1a6bb;
}
.columnspan{
    width:30%;display:block;float:left;text-align: right;color:#a1a6bb;font-size: 15px;
}
.showspan{
    width:65%;display:block;color:#566075;text-align: left;font-size: 15px;margin-top:15px;padding-left:120px;
}
.certinfo_title{
    text-align:left;
    font-size: 18px;
    color: #CD8221;
    border-bottom: #CD8221 solid 2px;
    width:95%;
}

.certinfo{
    width:95%;
    font-size: 15px;
    line-height: 37px;
    color: #A1A6BB;
    background-color:#F7F9FD;
    padding: 5px 5px 5px 5px;
    margin-top:10px;
    margin-bottom: 10px;
}
.certinfo a{
    font-size: 15px;
    color: #CD8221;
}
.certinfo a{
    font-size: 15px;
    color: #CD8221;
    margin:-5px;
}
.timeline{
    margin-left: 20px;
    border-left:#004A80 solid 1px;
}
.timelinelast{
    margin-left: 20px;
}
.timelinelastline{
    height:50px;
    border-left:#004A80 solid 1px;
}
.timelinefirst{
    margin-top:50px;
    margin-left: 25px;
    border-left:#004A80 solid 1px;
}
.timelinefirst .innerdiv{
    margin-top: -50px;
}
.certicon{
    font-size:50px;
    margin-left: 18px;
    margin-top: 20px;
    display: list-item;
    color: #004A80;
    list-style-type: disc;
}
.certtext{
    color: #566075;
}
.certdate
{
    height:min-content;
    margin:20px;
    color:#004A80;
    font-size: 20px;
    border: #004A80 solid 1px;
    max-lines: 2;
    line-height: 22px;
    max-width: 90px;
}